# /etc/systemd/system/db-tunnel.service
[Unit]
Description=Persistent SSH tunnel to DO MySQL
After=network-online.target
Wants=network-online.target
# If you use WireGuard on the Pi, also add:
# After=wg-quick@wg0.service

[Service]
User=welch
Group=welch
Environment="AUTOSSH_GATETIME=0" "AUTOSSH_LOGLEVEL=7"
ExecStart=/usr/bin/autossh -M 0 -N \
  -o "BatchMode=yes" \
  -o "ExitOnForwardFailure=yes" \
  -o "ServerAliveInterval=30" \
  -o "ServerAliveCountMax=3" \
  -o "StrictHostKeyChecking=yes" \
  -i /home/welch/.ssh/do-gw-tunnel \
  -L 127.0.0.1:5433:greenlight-db-postgresql-nyc3-31985-do-user-28413507-0.d.db.ondigitalocean.com:25060 \
  welch@greenlight.sundialwire.com
Restart=always
RestartSec=5
# Some hardening:
NoNewPrivileges=yes
ProtectSystem=full
PrivateTmp=yes

[Install]
WantedBy=multi-user.target

