.loader{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 15px solid #dddddd;
    border-top-color: #043f8d;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

html {
    font-family: sans-serif;
}
  
form {
    width: 580px;
    background: #ccc;
    margin-top: 0.5cm;
    padding: 20px;
    border: 1px solid black;
}

form ol {
    padding-left: 0;
}

form li,
div > p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
}

form img {
    height: 64px;
    order: 1;
}

form p {
    line-height: 32px;
    padding-left: 10px;
}

form label,
button {
    background-color: #043f8d;
    margin-top: 0.5cm;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    color: white;
}

form label:hover,
form button:hover {
    background-color: #043f8d;
    color: white;
}

form label:active,
form button:active {
    background-color: #0d3f8f;
    color: white;
}
